# Ejemplo de contenido para .gitignore
venv/
.venv/
.env
*.pyc
__pycache__/
.vscode/ # Opcional, si no quieres subir configuraciones de VSCode
conexapi_backend.code-workspace

# Archivos específicos del sistema operativo
.DS_Store # macOS
Thumbs.db # Windows

# Archivos de Node/Frontend
node_modules/
dist/ # Carpeta de build de Vite
.parcel-cache/ # Caché de Parcel (si se usara)